In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from haversine import haversine
from sklearn.model_selection import train_test_split
np.random.seed(42)
import scipy.stats as stats
import seaborn as sns

from matplotlib import rcParams
rcParams.update({'figure.autolayout':True})

plt.style.use(["presentation"])

%matplotlib inline

In [12]:


from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer, TfidfVectorizer
from sklearn.linear_model import LogisticRegression, ElasticNet, Ridge, RidgeClassifier
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix
from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor, BaggingClassifier, BaggingRegressor, AdaBoostClassifier, AdaBoostRegressor
from sklearn.metrics import roc_auc_score, mean_squared_error, confusion_matrix, f1_score
from sklearn.neighbors import KNeighborsRegressor, KNeighborsClassifier
from sklearn.tree import DecisionTreeRegressor, DecisionTreeClassifier, export_graphviz
from sklearn import svm

In [13]:
pred=pd.read_csv('./assets/prediction_step1')

In [14]:
train=pd.read_csv('./assets/train_step1')

In [15]:
test=pd.read_csv('./assets/test_step1')

In [17]:
train.head()

,Unnamed: 0,Date,Block,Street,NumMosquitos,WnvPresent,MIX,PIPIENS,RESTUANS,Location,dist_to_standing_water
0,4526,2009-07-06,50,S UNION AVE,4,0,1,0,0,"(41.803422999999995, -87.642984)",0.204493
1,2076,2007-08-16,12,S DOTY AVE,50,1,0,1,0,"(41.673408, -87.599862)",1.499085
2,3574,2007-09-24,58,N PULASKI RD,1,0,0,0,0,"(41.984809000000006, -87.728492)",1.040195
3,3427,2007-09-24,22,W 89TH ST,50,0,0,1,0,"(41.731922, -87.677512)",1.110843
4,3932,2009-06-02,35,W 51ST ST,3,0,1,0,0,"(41.800737, -87.71188000000001)",0.303958