In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from haversine import haversine
from sklearn.model_selection import train_test_split
np.random.seed(42)
import scipy.stats as stats
import seaborn as sns

from matplotlib import rcParams
rcParams.update({'figure.autolayout':True})

plt.style.use(["presentation"])

%matplotlib inline

In [6]:


from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer, TfidfVectorizer
from sklearn.linear_model import LogisticRegression, ElasticNet, Ridge, RidgeClassifier
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix
from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor, BaggingClassifier, BaggingRegressor, AdaBoostClassifier, AdaBoostRegressor
from sklearn.metrics import roc_auc_score, mean_squared_error, confusion_matrix, f1_score
from sklearn.neighbors import KNeighborsRegressor, KNeighborsClassifier
from sklearn.tree import DecisionTreeRegressor, DecisionTreeClassifier, export_graphviz
from sklearn import svm

In [7]:
pred=pd.read_csv('./assets/prediction_step1')

In [8]:
train=pd.read_csv('./assets/train_step1')

In [9]:
test=pd.read_csv('./assets/test_step1')

In [10]:
pred.head()

,Unnamed: 0,Id,Date,MIX,PIPIENS,RESTUANS,Location,dist_to_standing_water
0,0,1,2008-06-11,1,0,0,"(41.95469, -87.800991)",1.12278
1,1,2,2008-06-11,0,0,1,"(41.95469, -87.800991)",1.12278
2,2,3,2008-06-11,0,1,0,"(41.95469, -87.800991)",1.12278
3,3,4,2008-06-11,0,0,0,"(41.95469, -87.800991)",1.12278
4,4,5,2008-06-11,0,0,0,"(41.95469, -87.800991)",1.12278