In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from haversine import haversine
from sklearn.model_selection import train_test_split
np.random.seed(42)
import scipy.stats as stats
import seaborn as sns

from matplotlib import rcParams
rcParams.update({'figure.autolayout':True})

plt.style.use(["presentation"])

%matplotlib inline

In [2]:
pred=pd.read_csv('./assets/prediction_step1')

In [ ]:
train=pd.read_csv('./assets/train_step1')

In [3]:
test=pd.read_csv('./assets/test_step1')

,Unnamed: 0,Date,NumMosquitos,WnvPresent,MIX,PIPIENS,RESTUANS,Location,dist_to_standing_water
0,3477,2007-09-24,7,0,1,0,0,"(41.948167, -87.730698)",0.385657
1,5484,2009-08-25,1,0,1,0,0,"(41.680946, -87.535198)",1.046975
2,8460,2013-06-27,2,0,1,0,0,"(42.010412, -87.66214000000001)",0.430682
3,7466,2011-08-19,8,0,1,0,0,"(41.994679, -87.770899)",0.543945
4,10239,2013-09-12,47,1,1,0,0,"(41.673408, -87.599862)",1.499085
5,4369,2009-06-26,2,0,0,0,1,"(41.846075, -87.716277)",0.297949
6,8181,2013-06-07,8,0,1,0,0,"(41.793818, -87.654234)",0.252170
7,3022,2007-09-06,50,0,1,0,0,"(41.673408, -87.599862)",1.499085
8,9769,2013-08-22,3,0,0,0,1,"(41.923738, -87.785288)",0.582323
9,2746,2007-08-28,50,0,0,1,0,"(41.673408, -87.599862)",1.499085
10,527,2007-07-18,1,0,1,0,0,"(41.82561, -87.726549)",1.026656
11,8702,2013-07-12,50,0,1,0,0,"(41.868077, -87.666901)",0.795898
12,10258,2013-09-12,23,0,1,0,0,"(41.974689, -87.890615)",4.020411
13,3196,2007-09-18,5,0,1,0,0,"(41.994991, -87.769279)",0.415146
14,3876,2009-06-02,3,0,0,0,1,"(41.921965, -87.632085)",0.697353
15,1431,2007-08-02,42,0,0,0,0,"(41.680946, -87.535198)",1.046975
16,7313,2011-08-12,7,1,1,0,0,"(41.974689, -87.890615)",4.020411
17,1584,2007-08-07,2,0,0,0,1,"(41.721474, -87.648064)",0.577504
18,3644,2007-10-04,6,0,0,1,0,"(41.986921, -87.689778)",0.381444
19,5044,2009-07-27,6,0,0,0,1,"(41.974689, -87.890615)",4.020411
20,1197,2007-08-01,50,0,1,0,0,"(41.673408, -87.599862)",1.499085
21,382,2007-07-11,5,0,0,1,0,"(41.899229999999996, -87.716788)",0.481602
22,4432,2009-06-29,50,0,1,0,0,"(41.974689, -87.890615)",4.020411
23,898,2007-08-01,2,0,1,0,0,"(41.723195000000004, -87.64997)",0.496434
24,4535,2009-07-06,1,0,0,0,0,"(41.673408, -87.599862)",1.499085
25,8569,2013-07-08,3,0,1,0,0,"(41.868077, -87.666901)",0.795898
26,1012,2007-08-01,4,0,1,0,0,"(41.721474, -87.648064)",0.577504
27,2121,2007-08-16,50,0,0,1,0,"(41.726465000000005, -87.585413)",0.264760
28,4941,2009-07-24,3,0,1,0,0,"(41.899229999999996, -87.716788)",0.481602
29,4694,2009-07-13,36,0,1,0,0,"(41.678618, -87.559308)",1.900849
...,...,...,...,...,...,...,...,...,...
2072,1117,2007-08-01,2,0,0,1,0,"(41.781416, -87.77653199999999)",0.886047
2073,2852,2007-09-04,1,0,1,0,0,"(41.979243, -87.750938)",0.927914
2074,6614,2011-07-15,7,0,0,1,0,"(41.868077, -87.666901)",0.795898
2075,5005,2009-07-27,12,0,1,0,0,"(41.903002, -87.68826700000001)",0.330956
2076,5623,2009-09-03,16,0,1,0,0,"(41.974689, -87.890615)",4.020411
2077,1522,2007-08-07,3,0,0,1,0,"(41.979243, -87.750938)",0.927914
2078,6604,2011-07-15,3,0,0,1,0,"(41.944869, -87.832763)",0.111114
2079,9923,2013-08-29,7,0,1,0,0,"(41.868142, -87.696269)",0.122099
2080,3833,2009-05-28,1,0,1,0,0,"(41.963976, -87.69181)",0.302428
2081,6477,2011-07-11,16,0,0,0,1,"(41.916265, -87.800515)",0.436309
2082,5996,2009-10-01,11,0,1,0,0,"(41.867108, -87.654224)",0.609011
2083,2786,2007-08-28,50,0,0,1,0,"(41.680946, -87.535198)",1.046975
2084,4263,2009-06-19,1,0,0,1,0,"(41.726465000000005, -87.585413)",0.264760
2085,6866,2011-07-25,1,0,0,1,0,"(41.673408, -87.599862)",1.499085
2086,574,2007-07-19,21,0,1,0,0,"(41.678618, -87.559308)",1.900849
2087,5720,2009-09-14,3,0,1,0,0,"(41.974689, -87.890615)",4.020411
2088,9920,2013-08-29,15,0,0,1,0,"(41.991429, -87.747113)",0.373787
2089,5878,2009-09-25,12,0,1,0,0,"(41.921965, -87.632085)",0.697353
2090,5666,2009-09-14,1,0,0,0,1,"(41.963976, -87.69181)",0.302428
2091,4661,2009-07-13,13,0,1,0,0,"(41.723195000000004, -87.64997)",0.496434
2092,4332,2009-06-26,47,0,1,0,0,"(41.867108, -87.654224)",0.609011
2093,510,2007-07-18,1,0,1,0,0,"(41.883284, -87.705085)",0.254170
2094,1951,2007-08-15,2,0,0,0,1,"(41.704336, -87.70373599999999)",0.209186
2095,8644,2013-07-08,38,0,0,0,1,"(41.974689, -87.890615)",4.020411
2096,2734,2007-08-28,50,0,0,1,0,"(41.673408, -87.599862)",1.499085
2097,8149,2013-06-07,3,0,0,0,1,"(41.803422999999995, -87.642984)",0.204493
2098,5532,2009-08-27,1,0,0,1,0,"(41.662014, -87.72460799999999)",3.263975
2099,4056,2009-06-12,1,0,0,1,0,"(41.95469, -87.800991)",1.122780
2100,6918,2011-07-25,50,0,1,0,0,"(41.973845000000004, -87.805059)",0.448687
2101,3586,2007-09-25,45,0,0,1,0,"(41.678618, -87.559308)",1.900849