In [231]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from haversine import haversine
from sklearn.model_selection import train_test_split
np.random.seed(42)
import scipy.stats as stats
import seaborn as sns

from matplotlib import rcParams
rcParams.update({'figure.autolayout':True})

plt.style.use(["presentation"])

%matplotlib inline

In [232]:
prediction_data=pd.read_csv('./assets/test.csv')

In [233]:
working_data=pd.read_csv('./assets/train.csv')

In [234]:
NOAA=pd.read_csv('./assets/weather.csv')

In [235]:
spray=pd.read_csv('./assets/spray.csv')

In [236]:
standing=pd.read_csv('./extra_data/Sanitation_Revised.csv')

# A. Data QA/Cleaning

In [237]:

train, test=train_test_split(working_data, test_size=.20, random_state=523)

In [238]:
train.groupby(by='Species')['WnvPresent'].mean()

Species
CULEX PIPIENS             0.085952
CULEX PIPIENS/RESTUANS    0.054068
CULEX RESTUANS            0.016988
CULEX SALINARIUS          0.000000
CULEX TARSALIS            0.000000
CULEX TERRITANS           0.000000
Name: WnvPresent, dtype: float64

In [239]:
train=train.copy()
test=test.copy()

In [240]:
def clean(df):
    df['Date']=pd.to_datetime(df['Date'])
    
    def mapping(x):
        if x == 'CULEX PIPIENS':
            return 'PIPIENS'
        elif x == 'CULEX PIPIENS/RESTUANS':
            return 'MIX'
        elif x == 'CULEX RESTUANS':
            return 'RESTUANS'
        else:
            return 'OTHER'
    
    df['Species']=df['Species'].map(mapping)
    
    dummies=pd.get_dummies(df['Species']).drop(['OTHER'], axis=1)
    df=pd.concat([df, dummies], axis=1)
    df['Location']=list(zip(df['Latitude'],df['Longitude']))
    df=df.drop(['Address', 'Latitude', 'Longitude', 'Block', 'Street', 'Trap', 
                'AddressNumberAndStreet', 'AddressAccuracy','Species'], axis=1)
                    
    return df

In [241]:
train=clean(train)
test=clean(test)
prediction_data=clean(prediction_data)

In [242]:
prediction_data.dtypes

Id                   int64
Date        datetime64[ns]
MIX                  uint8
PIPIENS              uint8
RESTUANS             uint8
Location            object
dtype: object

In [243]:
standing['Coord']=list(zip(standing['Latitude'], standing['Longitude']))

In [244]:
standing=standing['Coord'].dropna()

In [216]:
train.head()

,Date,NumMosquitos,WnvPresent,MIX,PIPIENS,RESTUANS,Location
4526,2009-07-06,4,0,1,0,0,"(41.803422999999995, -87.642984)"
2076,2007-08-16,50,1,0,1,0,"(41.673408, -87.599862)"
3574,2007-09-24,1,0,0,0,0,"(41.984809000000006, -87.728492)"
3427,2007-09-24,50,0,0,1,0,"(41.731922, -87.677512)"
3932,2009-06-02,3,0,1,0,0,"(41.800737, -87.71188000000001)"

# B. Get distance to the nearest location where standing water complaint ever filed

In [246]:
def measure_to_standing(input_location):
    distances=[]
    for standing_spot_location in standing:
        standing_spot_distance=haversine(standing_spot_location, input_location)
        distances+=[standing_spot_distance]
    return min(distances)
        

train['dist_to_standing_water']=train['Location'].map(measure_to_standing)

In [247]:
test['dist_to_standing_water']=test['Location'].map(measure_to_standing)

In [252]:
prediction_data['dist_to_standing_water']=prediction_data['Location'].map(measure_to_standing)

In [221]:
train.to_csv('./train_1')
train.to_csv('./test_1')
prediction.to_csv('./predict_1')